<% random_tweet %>

<% @tweets.each do |tweet| %>
  <!-- <p><%= link_to tweet.user.username, show_user_path(id: tweet.user_id) %></p>
  <p><%= tweet.message.html_safe %></p> -->
  <%= render 'tweets/tweet', tweet: tweet %>
<% end %>